<div id="jnDetails">
	<div class="jnProDetail">
		<h4>免烫高织棉条纹衬衫</h4>
		<ul class="jnProDetailList clearfloat">
			<li>全新精品高支棉衬衫再次提升品质，精选100%新疆长绒棉织造而成，平整度好，短绒少； 80-100高支双股经纬交织，带来无与伦比的舒适享受；而且面料反光效果好，具有漂亮的光泽，质感上佳，有利于免烫效果的维持！</li>
			<li>
				<span>价&#12288;&#12288;格：</span>
				<strong class="del">379.00</strong>元
			</li>
			<li class="tbDetailPrice">
				<span>促&#12288;&#12288;销：</span>
				<strong>200.00</strong>元
			</li>
			<li class="color_change">
				<span>颜&#12288;&#12288;色：</span>
				<strong>蓝白</strong>
				<ul class="clearfloat">
					<li>
						<img src="../../images/pro_img/blue.jpg" alt="蓝白">
					</li>
					<li>
						<img src="../../images/pro_img/yellow.jpg" alt="黄白">
					</li>
					<li>
						<img src="../../images/pro_img/green.jpg" alt="粉绿">
					</li>
				</ul>
			</li>
			<li class="pro_size">
				<span>尺&#12288;&#12288;寸：</span>
				<strong>未选择</strong>
				<ul class="clearfloat">
					<li>S</li>
					<li>L</li>
					<li>SL</li>
					<li>LL</li>
				</ul>
			</li>
			<li>
				<span>数&#12288;&#12288;量：</span>
				<div class="pro_num">
					<select id="num_sort">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</li>
			<li class="pro_price">
				<span>总&#12288;&#12288;计：</span>
				<strong>200</strong>元
			</li>
		</ul>
		<div class="pro_rating">
			<span>给商品评分：</span>
			<ul class="rating clearfloat nostar">
				<li class="one"><a href="#" title="1分">1</a></li>
				<li class="two"><a href="#" title="2分">2</a></li>
				<li class="three"><a href="#" title="3分">3</a></li>
				<li class="four"><a href="#" title="4分">4</a></li>
				<li class="five"><a href="#" title="5分">5</a></li>
			</ul>
		</div>
		<div id="cart" >
			<a href="javascript:void(0)">
				<img src="../../images/btn_cart.png" alt="" >
			</a>
		</div>
	</div>
</div>
<!-- 模态框(Modal) -->
<div class="modal fade" id="myModal" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">提示：</h2>
			</div>
			<div class="modal-body">
				<div class="tips">
					<span class="tips-ico">
						<span class="ico-ok"></span>
					</span>
					<div class="tips-content">
						<div class="tips-title" id="jnDialogContent"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss='modal'>关闭</button>
			</div>
		</div>
	</div>
</div>
