<div id="jnProitem">
	<div class="jqzoomwrap">
		<a class="zoom" id="zoom1" href="javascript:void(0)">
			<img src="../../images/pro_img/blue_one_small.jpg" alt="" title="免烫高织棉条纹寸衫" id="bigImg">
		</a>
	</div>
	<span>
		<a href="../../images/pro_img/blue_one_big.jpg" id="thickImg" class="thickbox" title="免烫高织棉条纹寸衫">
			<img src="../../images/look.gif" alt="">
		</a>
	</span>
	<ul class="imgList clearfloat">
		<li class="imgList_blue">
			<a title="展示一" >
				<img src="../../images/pro_img/blue_one.jpg" alt="" >
			</a>
		</li>
		<li class="imgList_blue">
			<a href="../../images/pro_img/blue_two_big.jpg" title="展示二">
				<img src="../../images/pro_img/blue_two.jpg" alt="">
			</a>
		</li>
		<li class="imgList_blue">
			<a href="../../images/pro_img/blue_three_big.jpg" title="展示三" >
				<img src="../../images/pro_img/blue_three.jpg" alt="">
			</a>
		</li>
		<li class="imgList_green hide">
			<a href="../../images/pro_img/green_one_big.jpg" title="展示一" >
				<img src="../../images/pro_img/green_one.jpg" alt="">
			</a>
		</li>
		<li class="imgList_green hide">
			<a href="../../images/pro_img/green_two_big.jpg" title="展示二" >
				<img src="../../images/pro_img/green_two.jpg" alt="">
			</a>
		</li>
		<li class="imgList_yellow hide">
			<a href="../../images/pro_img/yellow_one_big.jpg" title="展示一" >
				<img src="../../images/pro_img/yellow_one.jpg" alt="">
			</a>
		</li>
		<li class="imgList_yellow hide">
			<a href="../../images/pro_img/yellow_two_big.jpg" title="展示二" class="cloud-zoom-gallery" rel="useZoom:'zoom1',smallImage:'../../images/pro_img/yellow_two_small.jpg'">
				<img src="../../images/pro_img/yellow_two.jpg" alt="">
			</a>
		</li>
		<li class="imgList_yellow hide">
			<a href="../../images/pro_img/yellow_three_big.jpg" title="展示三" class="cloud-zoom-gallery" rel="useZoom:'zoom1',smallImage:'../../images/pro_img/yellow_three_small.jpg'">
				<img src="../../images/pro_img/yellow_three.jpg" alt="">
			</a>
		</li>
	</ul>
	<div class="tab">
		<div class="tab_menu">
			<ul class="clearfloat">
				<li class="selected">产品属性</li>
				<li>产品尺码表</li>
				<li>产品介绍</li>
			</ul>
		</div>
		<div class="tab_box">
			<p >沿用风靡百年的经典全棉牛津纺面料，通过领先的液氨整理技术，使面料的抗皱性能更上一层。延续简约、舒适、健康设计理念，特推出免烫、易打理的精细免烫牛津纺长袖衬衫系列。</p>
			<p class="hide">来自新疆无污染的生态棉花，采用紧密纺精梳棉纱，单经双纬的织造组织，造就了颗粒饱满、朴实无华、温润细腻的经典牛津纺，易洗快干、手感丰软、吸湿性好。设计师遵循布料完美肌理，立体剪裁，曲摆的现代人性化裁减，相得益彰，浑然天成。</p>
			<p class="hide">世界权威德国科德宝的衬和英国高士缝纫线使成衣领型自然舒展、永不变形，缝线部位平服工整、牢固耐磨；人性化的4片式后背打褶结构设计提供更舒适的活动空间；领尖扣的领型设计戴或不戴领带风格炯同、瞬间呈现；醇正天然设计，只为彰显自然荣耀。</p>
		</div>
	</div>
</div>