<div id="header">
	<div class="contWidth">
		<a href="#" class="logo">
			<img src="../../images/logo.gif" alt="JaneShop">
		</a>
		<div class="search">
			<input type="text" id="inputSearch" value="请输入商品名称">
		</div>
		<ul id="skin">
			<li id="skin_0" title="蓝色" class="selected">蓝色</li>
			<li id="skin_1" title="紫色">紫色</li>
			<li id="skin_2" title="红色">红色</li>
			<li id="skin_3" title="天蓝色">天蓝色</li>
			<li id="skin_4" title="黄色">黄色</li>
			<li id="skin_5" title="淡绿色">淡绿色</li>
		</ul>
		<div class="mainNav" id="nav">
			<ul class="nav">
				<li>
					<a href="#">首页</a>
				</li>
				<li>
					<a href="#">品牌</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
								<a href="#">品牌:</a>
								</dt>
								<dd>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em><a href="#">安踏</a></em>
								<em><a href="#">奥康</a></em>
								<em><a href="#">骆驼</a></em>
								<em><a href="#">特步</a></em>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em class="noborder"><a href="#">安踏</a></em>
								</dd>
							</dl>
							<dl>
								<dt>
								<a href="#">品牌</a>
								</dt>
								<dd>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em><a href="#">安踏</a></em>
								<em><a href="#">奥康</a></em>
								<em><a href="#">骆驼</a></em>
								<em><a href="#">特步</a></em>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em class="noborder"><a href="#">安踏</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<a href="#">女装</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
								<a href="#">品牌:</a>
								</dt>
								<dd>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em><a href="#">安踏</a></em>
								<em><a href="#">奥康</a></em>
								<em><a href="#">骆驼</a></em>
								<em><a href="#">特步</a></em>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em class="noborder"><a href="#">安踏</a></em>
								</dd>
							</dl>
							<dl>
								<dt>
								<a href="#">品牌</a>
								</dt>
								<dd>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em><a href="#">安踏</a></em>
								<em><a href="#">奥康</a></em>
								<em><a href="#">骆驼</a></em>
								<em><a href="#">特步</a></em>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em class="noborder"><a href="#">安踏</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<a href="#">男装</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
								<a href="#">品牌:</a>
								</dt>
								<dd>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em><a href="#">安踏</a></em>
								<em><a href="#">奥康</a></em>
								<em><a href="#">骆驼</a></em>
								<em><a href="#">特步</a></em>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em class="noborder"><a href="#">安踏</a></em>
								</dd>
							</dl>
							<dl>
								<dt>
								<a href="#">品牌</a>
								</dt>
								<dd>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em><a href="#">安踏</a></em>
								<em><a href="#">奥康</a></em>
								<em><a href="#">骆驼</a></em>
								<em><a href="#">特步</a></em>
								<em><a href="#">耐克</a></em>
								<em><a href="#">阿迪达斯</a></em>
								<em><a href="#">达芙妮</a></em>
								<em><a href="#">李宁</a></em>
								<em class="noborder"><a href="#">安踏</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<a href="#">鞋包配饰</a>
				</li>
			</ul>
		</div>
	</div>
</div>